

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 20px 20px 0px;
    background-color: #696969;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
}
  
header h1 {
    padding: 20px;
    font-weight: normal;
    color: #696969;
    background-color: #48d1cc;
    margin: 0;
    font-size: 36px;    
}
  
header a {
    text-decoration: none;
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    color: #48d1cc;
    border-bottom: #48d1cc;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* HERO STYLES START */

.hero {
    /* Photo by Math from Pexels */
    background-image: url('../images/pexels-math-21387.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    margin-bottom: 25px; 
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-subtitle {
    text-align: right;
    margin: 3.5%;
    color: white;
    font-size: 18px;
    line-height: 1;
}

/* SECTION TITLE STYLES START */

.content-block {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.content-block h2 {
    font-size: 48px;
    border-right: 3px solid;
    color: #696969;
    padding: 25px;
    text-align: right;
    flex: 0 20%;
}

.content-paragraph {
    padding: 20px;
    text-align: left;
    color: #404040;
    flex: 12;
    list-style: none;
}
.about-info {
    display: flex;
}

.about-info p {
    font-size: 22px;
    color: #696969;
    padding: 0 0 0 40px;
}

/* CASE STUDY PIC - Photo by Liza Summer from Pexels */